{% extends "base.html" %} {% block content %}
<style>
    .centered { display: table; margin-left: auto; margin-right: auto; }
</style>
  
  
<h2>직사각형 측량</h2>

<div>
    <button type="button" class="btn btn-primary btn-lg " id="btn-calculate1">Calculate Volume!</button>
    <!-- <div class="centered">
        <div class="item">
            <div class="image-section" style="display:none;">
                <div class="img-preview1"> 
                    <div id="imagePreview1">
                    </div>
                </div>
                <div class="img-preview2">
                    <div id="imagePreview2">
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-lg " id="btn-calculate1">Calculate Volume!</button>
                </div>
            </div>
        </div>
    </div> -->
    
    <div class="centered">
        <div class="item">     
            <div class="loader" style="display:none;"></div>
        </div>
    </div> 

    <h3 id="result1">
        <span> </span>
    </h3>
</div>
      
{% endblock %}